.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f4f8;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.2rem;
  color: #666;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: #005bb5;
}

.balance {
  font-size: 1.2rem;
  color: #2c3e50;
  margin-top: 20px;
}

.successMessage {
  font-size: 1.2rem;
  color: #28a745;
  margin-top: 20px;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}
