.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f4f8;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.walletIcon {
  color: #0070f3;
  font-size: 1.5rem;
  margin-right: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  margin-right: 5px;
}

.button:hover {
  background-color: #005bb5;
}

.successMessage {
  font-size: 1.2rem;
  color: green;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.successIcon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.balance {
  font-size: 1.2rem;
  color: #2c3e50;
  margin-top: 20px;
}

.balanceIcon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #2e8b57; /* Dark green color for the balance icon */
}
